<p>Número de preguntas: <%= preguntas %></p>
<p>Número de comentarios: <%= comentarios %></p>
<p>Número medio de comentarios por preguntas: <%= media %></p>
<p>Número de preguntas sin comentarios: <%= sinc %></p>
<p>Número de preguntas con comentarios: <%= conc %></p>

